.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}
.user-name {
  margin: 400px;
  color: black;
  font-family: serif;
  font-size: 8em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* transform: translate(-50%, -50%); */
}
.home-p-tag{
  margin-top: -400px;
  color: black;
  font-size: 3em;
  margin-left: 300px;
  margin-right: 300px;
  font-family: serif;
  /* text-shadow: 2px 2px 4px black; */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sm-nav-a{
  color: black;
  font-size: 20px;
  position: relative;
  text-decoration: none;

}

.row {
  display: flex;
  padding: 40px;
  margin: 40px;

}

.column {
  flex: 50%;

}
.column-2 {
  flex: 50%;
  overflow: hidden;

}
.home-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  top: 50%;
  left: 50%;
  max-width: 5000px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.card{
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 40rem;
  height: 45rem;
  display: inline-grid;
  margin: 3rem 2rem;
  /* box-shadow: 3px 4px lightblue */
}

.page-header{
  font-size: 4em;
  color: black;
  font-family: serif;
  /* text-shadow: 2px 4px 6px black; */
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.projects-paragraph{
  font-size: 1.5em;
}

.projects-header{
  font-size: 3em;
  text-decoration: none;
  style: bold;
  color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.general-p-tag{
  position: centered;
  color: black;
  font-size: 2em;
  font-family: serif;
  margin-left: 300px;
  margin-right: 300px;
}

#menu-header {
  display: inline-flex;
}


.navbar-icons{
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 2em;
}

.nav-a{
  color: black;
  font-size: 50px;
  text-decoration: none;
}



.prof-pic{
  border-radius: 50%
}
#contact-icons{
  display: inline-flex;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
